.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

/* 1rem == 16px usar rem é melhor para acessibilidade */
/* grid template é para manter 2 colunas utilizando todo o espaço que lhe pertence */
.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}